/* Local font files */
@font-face {
	src: url('fonts/IBMPlexSerif-Regular.ttf');
	font-family: 'Plex Serif';
	font-weight: 400;
}

@font-face {
	src: url('fonts/IBMPlexSerif-Italic.ttf');
	font-family: 'Plex Serif';
	font-style: italic;
	font-weight: 400;
}

:root {
	--typography--base: 16px;
}

body {
	font-family: 'Plex Serif', serif;
	font-size: var(--typography--base);
}
